{% extends 'baseFront.html.twig' %}

{% block title %}HabiLux-Propriétés{% endblock %}

{% block body %}

<style>
.property-thumb img {
    width: 475px;  /* Ajuste la largeur pour s'adapter au conteneur */
    height: 490px; /* Fixe une hauteur uniforme */
    object-fit: cover; /* Permet de conserver le rapport d'aspect et de remplir le cadre */
    border-radius: 30px; /* Optionnel : Ajoute des coins arrondis pour un meilleur rendu */
}

.user-photo {
    width: 50px; /* Taille de l'avatar */
    height: 50px; /* Taille de l'avatar */
    border-radius: 50%; /* Cette propriété rend l'image circulaire */
    object-fit: cover; /* Cette propriété ajuste l'image pour qu'elle remplisse complètement le cercle sans déformer l'image */
    border: 2px solid #fff; /* Optionnel : ajoute une bordure blanche autour de l'image */
    }

    .th-btn.style-border2.th-btn-icon i {
    color: #1C2D37; /* Couleur bleue par défaut */
    transition: color 0.3s ease-in-out; /* Animation fluide */
}

.th-btn.style-border2.th-btn-icon:hover i {
    color: white; /* Couleur blanche au survol */
}

.no-result {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-result-img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.no-result p {
    font-size: 16px;
    color: #33333382;
    font-weight: bold;
}

.property-card2 {
			position: relative;
			overflow: hidden;
            height: 400px;
		}

		.property-card-thumb {
			position: relative;
		}

		.property-price-badge {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: #28a745; /* Vert */
			color: white;
			padding: 5px 10px;
			font-size: 14px;
			font-weight: bold;
			border-radius: 50px; /* Arrondi comme une bulle */
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		}

		.private-price {
			background-color: #6c757d; /* Gris pour "Prix Privée" */
		}


		.property-card-thumb img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.property-card-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			padding: 15px;
			text-align: center;
		}

		.property-card2:hover .property-card-overlay {
			opacity: 1;
		}

		.property-card-title,
		.property-card-price,
		.property-card-location {
			margin: 5px 0;
		}

		.property-btn-wrap {
			margin-top: 10px;
		}

		.th-btnn {
			background-color: #2E495A;
			color: white;
			padding: 8px 12px;
			border-radius: 5px;
			text-decoration: none;
		}

		.th-btn:hover {
			background-color: #2E495A;
			color: white;
		}
        .property-features {
        list-style: none; /* Supprime les puces */
        padding-left: 0; /* Supprime l’indentation */
        }

        .property-features li {
            display: flex;
            align-items: center;
        }

		.property-status-badge {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: red;
			color: white;
			padding: 5px 10px;
			font-size: 14px;
			font-weight: bold;
			border-radius: 20px;
			z-index: 10;  /* Assure-toi qu'il soit au-dessus de l'image */
		}
</style>
    <div class="breadcumb-wrapper " data-bg-src="{{ asset('assetsFront/img/bg/breadcumb-bg.jpg') }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Villa a vendre</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="{{ path('app_front_accueil_accueil') }}">Accueil</a></li>
                            <li>Propriétés</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--==============================
Property Page Area
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <ul class="nav nav-tabs property-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="{{ path('app_front_habitation_villa_louer') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_front_habitation_villa_louer' %}active{% endif %}">
                    Location
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ path('app_front_habitation_villa_avendre') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_front_habitation_villa_avendre' %}active{% endif %}">
                    A Vendre
                </a>
            </li>
        </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="rent-tab-pane" role="tabpanel" aria-labelledby="rent-tab" tabindex="0">
                    <form class="property-search-form" method="GET" action="{{ path('app_front_habitation_villa_avendre') }}">
                        <label>Recherche de propriété</label>
                        <!-- Champ de recherche par ID ou emplacement -->
						<div class="form-group">
							<i class="far fa-search"></i>
							<input class="form-control" type="text" name="id" placeholder="Référence du propriété">
						</div>
                        
                        <!-- Sélection de la Ville -->
						<select class="form-select" name="gouvernorat">
							<option value="">Gouvernorat</option>
							<option value="Ariana">Ariana</option>
							<option value="Béja">Béja</option>
							<option value="Ben Arous">Ben Arous</option>
							<option value="Bizerte">Bizerte</option>
							<option value="Gabès">Gabès</option>
							<option value="Gafsa">Gafsa</option>
							<option value="Jendouba">Jendouba</option>
							<option value="Kairouan">Kairouan</option>
							<option value="Kasserine">Kasserine</option>
							<option value="Kébili">Kébili</option>
							<option value="Le Kef">Le Kef</option>
							<option value="Mahdia">Mahdia</option>
							<option value="La Manouba">La Manouba</option>
							<option value="Médenine">Médenine</option>
							<option value="Monastir">Monastir</option>
							<option value="Nabeul">Nabeul</option>
							<option value="Sfax">Sfax</option>
							<option value="Sidi Bouzid">Sidi Bouzid</option>
							<option value="Siliana">Siliana</option>
							<option value="Sousse">Sousse</option>
							<option value="Tataouine">Tataouine</option>
							<option value="Tozeur">Tozeur</option>
							<option value="Tunis">Tunis</option>
							<option value="Zaghouan">Zaghouan</option>
						</select>

                        <button class="th-btn" type="submit"><i class="far fa-search"></i> Rechercher</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="buy-tab-pane" role="tabpanel" aria-labelledby="buy-tab" tabindex="0">
                    <form class="property-search-form" method="GET" action="{{ path('app_front_habitation_villa_avendre') }}">
                        <label>Recherche de propriété</label>
                        <!-- Champ de recherche par ID ou emplacement -->
						<div class="form-group">
							<i class="far fa-search"></i>
							<input class="form-control" type="text" name="id" placeholder="Référence du propriété">
						</div>
                        
                        <!-- Sélection de la Ville -->
						<select class="form-select" name="gouvernorat">
							<option value="">Gouvernorat</option>
							<option value="Ariana">Ariana</option>
							<option value="Béja">Béja</option>
							<option value="Ben Arous">Ben Arous</option>
							<option value="Bizerte">Bizerte</option>
							<option value="Gabès">Gabès</option>
							<option value="Gafsa">Gafsa</option>
							<option value="Jendouba">Jendouba</option>
							<option value="Kairouan">Kairouan</option>
							<option value="Kasserine">Kasserine</option>
							<option value="Kébili">Kébili</option>
							<option value="Le Kef">Le Kef</option>
							<option value="Mahdia">Mahdia</option>
							<option value="La Manouba">La Manouba</option>
							<option value="Médenine">Médenine</option>
							<option value="Monastir">Monastir</option>
							<option value="Nabeul">Nabeul</option>
							<option value="Sfax">Sfax</option>
							<option value="Sidi Bouzid">Sidi Bouzid</option>
							<option value="Siliana">Siliana</option>
							<option value="Sousse">Sousse</option>
							<option value="Tataouine">Tataouine</option>
							<option value="Tozeur">Tozeur</option>
							<option value="Tunis">Tunis</option>
							<option value="Zaghouan">Zaghouan</option>
						</select>

                        <button class="th-btn" type="submit"><i class="far fa-search"></i> Rechercher</button>
                    </form>
                </div>
            </div>
     
            {% set biensVisibles = biens|filter(bien => bien.transactions|filter(t => t.typeTransaction == 'Vente') is empty) %}
			{% if biensVisibles|length > 0 %}
				<div class="th-sort-bar">
					<div class="row justify-content-between align-items-center">
						<div class="col-md">
							<p class="woocommerce-result-count">
								{{ totalBiensVendre }} résultats
							</p>
						</div>

						<div class="col-md-auto">
							<div class="sorting-filter-wrap">
								<form class="woocommerce-ordering" method="get" id="sorting-form">
									<select name="orderby" class="orderby" aria-label="Ordre du magasin" id="orderby">
										<option value="menu_order" selected="selected">Tri par défaut</option>
										<option value="date" {% if app.request.query.get('orderby') == 'date' %} selected {% endif %}>Trier par date</option>
										<option value="price" {% if app.request.query.get('orderby') == 'price' %} selected {% endif %}>Trier par prix : du moins cher au plus cher</option>
										<option value="price-desc" {% if app.request.query.get('orderby') == 'price-desc' %} selected {% endif %}>Trier par prix : du plus cher au moins cher</option>
									</select>
								</form>
								<div class="nav" role="tablist">
									<a class="active" href="#" id="tab-shop-list" data-bs-toggle="tab" data-bs-target="#tab-list" role="tab" aria-controls="tab-grid" aria-selected="false">
										<i class="fa-light fa-grid-2"></i>
									</a>
									<a href="#" id="tab-shop-grid" data-bs-toggle="tab" data-bs-target="#tab-grid" role="tab" aria-controls="tab-grid" aria-selected="true">
										<i class="fa-solid fa-list"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}




            <div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade active show" id="tab-list" role="tabpanel" aria-labelledby="tab-shop-list">
					<div class="row gy-40">
						{% if biens is empty %}
							<div class="no-result">
								<img src="{{ asset('assetsFront/img/icon/aucun-resultat.png') }}" alt="Aucun résultat" class="no-result-img">
								<h4 style="color:#1C2D37;">Aucun bien disponible pour le moment.</h4>
							</div>
						{% else %}
							{% for bien in biens %}
								{# Vérification si une transaction "Location" existe #}
								{% set isLocation = bien.transactions|filter(t => t.typeTransaction == 'Location') is not empty %}
								
									<div class="col-md-6 col-xl-4">
										<div class="property-card2">
											<div class="property-card-thumb img-shine" style="position: relative;">
												<img src="{{ asset('uploads/images_bien/' ~ bien.imageBiens|first.nomImage) }}" alt="Image du bien">

												{# Afficher le badge "Loué" si le bien a une transaction de type "Location" #}
												{% if isLocation %}
													<div class="property-status-badge">Loué</div>
												{% endif %}

												{# Badge du prix en haut à droite #}
												{% if not isLocation %}
													{% if bien.afficherPrix %}
														<div class="property-price-badge">
															{{ bien.prixBien }} DT
														</div>
													{% else %}
														<div class="property-price-badge private-price">
															Prix Privée
														</div>
													{% endif %}
												{% endif %}

												<div class="property-card-overlay">
													<h4 class="property-card-title" style="color:#FFFFFFFF;">{{ bien.nomBien }}</h4>
													<p class="property-card-location" style="color:#FFFFFFFF;">{{ bien.ville.nomVille }},
														{{ bien.ville.gouvernorat.nomGouvernorat }}</p>

													{# Détails des propriétés #}
													<div class="property-btn-wrap">
														{% if bien.detailsProprietes|filter(p => p.afficher) is not empty %}
															<ul class="property-features">
																{% for propriete in bien.detailsProprietes|filter(p => p.afficher) %}
																	<li>
																		<i class="fas fa-check-circle" style="color:#C0CDD1;"></i>
																		<strong>{{ propriete.propriete.nomPropriete|slice(0, 15) }}
																			{% if propriete.propriete.nomPropriete|length > 20 %}...
																			{% endif %}:</strong>
																		{{ propriete.valeurPropriete }}
																	</li>
																{% endfor %}
															</ul>
														{% else %}
															<p class="text-muted">Aucun détail disponible.</p>
														{% endif %}
													</div>

													<div class="btn-wrap">
														<a href="{{ path('app_front_all_biens_details_prop', {'id': bien.id}) }}" class="th-btnn">
															<i class="fas fa-info-circle"></i>
															Details
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
							
							{% endfor %}
						{% endif %}
					</div>
				</div>


				<div class="tab-pane fade" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
					{% if biens is empty %}
						<div class="no-result">
							<img src="{{ asset('assetsFront/img/icon/aucun-resultat.png') }}" alt="Aucun résultat" class="no-result-img">
							<h4 style="color:#1C2D37;">Aucun bien disponible pour le moment.</h4>
						</div>
					{% else %}
						{% for bien in biens %}

							{# Vérification si une transaction "Location" existe #}
							{% set isLocation = bien.transactions|filter(t => t.typeTransaction == 'Location') is not empty %}
							
								<div class="property-card-wrap style-dark">
									<div class="property-thumb position-relative">
										<img src="{{ asset('uploads/images_bien/' ~ bien.imageBiens|first.nomImage) }}" alt="Image du bien" style="width:390px; height:350px;">


										{# Afficher le badge "Loué" si le bien a une transaction de type "Location" #}
										{% if isLocation %}
											<div class="property-status-badge">Loué</div>
										{% endif %}

										{# Badge du prix en haut à droite #}
										{% if not isLocation %}
											{% if bien.afficherPrix %}
												<div class="property-price-badge">
													{{ bien.prixBien }} DT
												</div>
											{% else %}
												<div class="property-price-badge private-price">
													Prix Privée
												</div>
											{% endif %}
										{% endif %}
									</div>
									<div class="property-card style-dark">
										<div class="property-card-number">
											{{ loop.index }}
										</div>
										<div class="property-card-details">
											<span class="property-card-subtitle">{{ bien.type.nomType }}</span>
											<h4 class="property-card-title">
												<a href="{{ path('app_front_all_biens_details_prop', {'id': bien.id}) }}">{{ bien.nomBien }}</a>
											</h4>
											<p class="property-card-text">
												{{ bien.description|length > 50 ? bien.description|slice(0, 50) ~ '...' : bien.description }}
											</p>

											<div class="property-card-meta">
												<span>
													<i class="fas fa-money-bill-wave"></i>Prix:<br>
													{{ bien.afficherPrix ? bien.prixBien ~ 'DT' : 'Prix Privée' }}</span>

												<span>
													<i class="fas fa-key"></i>Référence:<br>
													{{ bien.id }}</span>

												<span>
													<i class="fas fa-map-marker-alt"></i>Adresse:<br>{{ bien.ville.nomVille }},
													{{ bien.ville.gouvernorat.nomGouvernorat }}</span>
											</div>

											<div class="property-btn-wrap">
												<div class="property-card-meta">
													{% if bien.detailsProprietes|filter(p => p.afficher) is not empty %}
														<ul class="property-features" style=" display: flex; flex-wrap: wrap; gap: 15px; list-style: none; padding-left: 0;">
															{% for propriete in bien.detailsProprietes|filter(p => p.afficher) %}
																<li style="display: flex; align-items: center; gap: 5px; white-space: nowrap; color:#2E495A; ">
																	<i class="fas fa-check-circle" style=" color:#2E495A;"></i>
																	<strong>
																		{{ propriete.propriete.nomPropriete|slice(0, 15) }}{% if propriete.propriete.nomPropriete|length > 20 %}...{% endif %}:
																	</strong> 
																	{{ propriete.valeurPropriete }}
																</li>
															{% endfor %}
														</ul>
													{% else %}
														<p class="text-muted">Aucun détail de propriété affiché.</p>
													{% endif %}
												</div>
											</div>

											<div class="property-btn-wrap">
												<img src="{{ asset('uploads/photo_profil/' ~ bien.publierPar.photoProfil) }}" alt="Photo de l'utilisateur" class="user-photo">
												<a>
													<i class="fas fa-phone-alt"></i>
													{{ bien.publierPar.tel }}</a>
												<a href="{{ path('app_front_all_biens_details_prop', {'id': bien.id}) }}" class="th-btn style-border2 th-btn-icon">
													<i class="fas fa-info-circle"></i>
													Details
												</a>

											</div>

										</div>
									</div>
								</div>
						
						{% endfor %}
					{% endif %}
				</div>
            </div>



            {% set biensVisibles = biens|filter(bien => bien.transactions|filter(t => t.typeTransaction == 'Vente') is empty) %}
			<div class="mt-60 text-center">
				{# Vérifier s'il y a des biens visibles à afficher #}
				{% if biensVisibles|length > 0 %}
					<div class="th-pagination">
						<ul>
							{# Lien vers la page précédente si on n'est pas sur la première page #}
							{% if biens.currentPageNumber > 1 %}
								<li>
									<a class="prev-page" href="{{ path('app_front_habitation_villa_avendre', { page: biens.currentPageNumber - 1 }) }}">
										<i class="far fa-arrow-left me-2"></i> Précédent
									</a>
								</li>
							{% endif %}

							{# Affichage des numéros de page #}
							{% for page in 1..biens.pageCount %}
								<li>
									<a href="{{ path('app_front_habitation_villa_avendre', { page: page }) }}"
									class="{{ page == biens.currentPageNumber ? 'active' : '' }}">
										{{ page }}
									</a>
								</li>
							{% endfor %}

							{# Lien vers la page suivante si on n'est pas sur la dernière page #}
							{% if biens.currentPageNumber < biens.pageCount %}
								<li>
									<a class="next-page" href="{{ path('app_front_habitation_villa_avendre', { page: biens.currentPageNumber + 1 }) }}">
										Suivant <i class="far fa-arrow-right ms-2"></i>
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
				{% endif %}
			</div>


        </div>
    </section>

	<script>
		// Attendre que le DOM soit chargé
		document.addEventListener("DOMContentLoaded", function () { // Récupérer le formulaire et le champ select
		const form = document.getElementById('sorting-form');
		const orderbySelect = document.getElementById('orderby');

		// Écouter les changements dans le champ select
		orderbySelect.addEventListener('change', function () { // Soumettre automatiquement le formulaire quand une option est sélectionnée
		form.submit();
		});
		});
	</script>
{% endblock %}

