{% extends 'baseFront.html.twig' %}

{% block title %}HabiLux-A propos{% endblock %}

{% block body %}

<div class="breadcumb-wrapper " data-bg-src="{{ asset('assetsFront/img/bg/breadcumb-bg.jpg') }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">À propos de nous</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="{{ path('app_front_accueil_accueil')}}">Accueil</a></li>
                            <li>About </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <div class="overflow-hidden space" id="about-sec">
        <div class="sec-bg-shape2-1 spin shape-mockup d-xl-block d-none" data-bottom="25%" data-right="12%">
            <img src="{{ asset('assetsFront/img/shape/section_shape_2_1.jpg') }}" alt="img">
        </div>
        <div class="sec-bg-shape2-1 jump shape-mockup d-xl-block d-none" data-bottom="0%" data-left="5%">
            <img src="{{ asset('assetsFront/img/shape/section_shape_2_3.jpg') }}" alt="img">
        </div>
        <div class="container">
            <div class="about-page-wrap">
                <div class="row gy-40 justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <div class="title-area mb-0">
                            <h2 class="sec-title text-theme mb-2">Vision & Mission de HabiLux</h2>
                            <p class="mb-0 text-theme">Vous êtes au centre de notre processus. Vos besoins, vos désirs et vos objectifs. Nous écoutons activement, en gardant toujours un équilibre — sans jamais vous presser ou vous imposer quelque chose dont vous n'avez pas besoin.</p>
                            <p class="text-theme">La transparence totale est notre objectif. Nous restons connectés tout au long de la construction de votre maison, en définissant clairement les étapes suivantes et en collaborant avec vous pour sélectionner les détails de conception personnels. Dès le premier jour, votre tranquillité d'esprit est notre priorité absolue.</p>
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <div class="img-box3">
                            <div class="img1">
                                <img src="{{ asset('assetsFront/img/normal/about_3_1.png') }}" alt="About">
                            </div>
                            <div class="about-tag">
                                <div class="about-experience-tag">
                                    <span class="circle-title-anime"> HabiLux BiKso</span>
                                </div>
                                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i class="fa-sharp fa-solid fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="img-box3">
                            <div class="img1">
                                <img src="{{ asset('assetsFront/img/normal/about_3_2.png') }}" alt="About">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-theme">Nous concevons des maisons en fonction de la manière dont les gens vivent. Le Design Centré est notre philosophie, notre approche pour créer des espaces qui énergisent et inspirent.</p>
                        <p class="text-theme">Nos plans de maison se concentrent sur trois éléments : la lumière naturelle, la couleur et l'air pur, des qualités qui soutiennent votre bien-être et vos niveaux d'énergie. Lorsque vous entrez dans nos maisons, vous verrez un design qui met les gens en avant, et plus important encore, vous le ressentirez.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-theme">C'est pourquoi nous construisons chaque maison comme si c'était la nôtre. Construisant localement depuis 1988, nous nous tenons aux normes les plus élevées de qualité et d'intégrité de la construction. En plus des 28 inspections requises par le comté, nous effectuons neuf inspections formelles Inland, plus neuf autres inspections critiques de tiers — soit 18 inspections formelles supplémentaires sur chaque maison Inland, par choix. Notre objectif est que chaque maison serve votre famille, et d'autres, pendant des générations à venir.</p>
                        <div class="about-wrap2 style-theme mt-50">
                            <div class="checklist style4">
                                <ul>
                                    <li><img src="{{ asset('assetsFront/img/icon/checkmark.svg') }}" alt="img">Services immobiliers de qualité</li>
                                    <li><img src="{{ asset('assetsFront/img/icon/checkmark.svg') }}" alt="img">Garantie de satisfaction à 100%</li>
                                    <li><img src="{{ asset('assetsFront/img/icon/checkmark.svg') }}" alt="img">Équipe hautement professionnelle</li>
                                    <li><img src="{{ asset('assetsFront/img/icon/checkmark.svg') }}" alt="img">Transactions toujours à l'heure</li>
                                </ul>
                            </div>
                            <div class="call-btn">
                                <div class="icon-btn bg-theme">
                                    <img src="{{ asset('assetsFront/img/icon/phone.svg') }}" alt="img">
                                </div>
                                <div class="btn-content">
                                    <h6 class="btn-title text-theme">Appelez-nous 24/7</h6>
                                    <span class="btn-text"><a class="text-theme" href="tel:+21693313278">+216 93 313 278</a></span><br>
                                    <span class="btn-text"><a class="text-theme" href="tel:+21690388911">+216 90 388 911</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="img-box3">
                            <div class="img1">
                                <img src="{{ asset('assetsFront/img/normal/about_3_3.png') }}" alt="About">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Why Choose Us Area  
==============================-->
    <div class="why-sec-1 overflow-hidden space bg-theme">
        <div class="sec-bg-shape2-1 text-white spin shape-mockup d-xl-block d-none" data-bottom="15%" data-left="12%">
            <img src="{{ asset('assetsFront/img/shape/section_shape_2_1.jpg') }}" alt="img">
        </div>
        <div class="sec-bg-shape2-3 text-white jump shape-mockup d-xl-block d-none" data-bottom="0%" data-right="7%">
            <img src="{{ asset('assetsFront/img/shape/section_shape_2_3.jpg') }}" alt="img">
        </div>
        <div class="container">
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-6">
                    <div class="title-area">
                        <h2 class="sec-title text-white">Pourquoi Choisir Nous ?</h2>
                        <p class="text-light">Nous sommes une agence immobilière avec plus de 20 ans d'expertise, et notre objectif principal est de fournir des emplacements exceptionnels à nos partenaires et clients. Dans le marché de l'immobilier de luxe, notre agence offre des solutions personnalisées.</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <a href="{{ path('app_contact')}}" class="th-btn style-border th-btn-icon">Contactez-nous</a>
                    </div>
                </div>
            </div>
            <div class="swiper th-slider" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-card style4">
                            <div class="service-card-icon">
                                <img src="{{ asset('assetsFront/img/icon/service-icon4-1.svg') }}" alt="Icon">
                            </div>
                            <h3 class="box-title"><a href="">Évaluation de Propriété</a></h3>
                            <p class="box-text">De grandes surfaces vitrées maximisent les gains solaires pendant la majeure partie de l'année.</p>
                            <div class="service-img img-shine">
                                <img src="{{ asset('assetsFront/img/service/1-1.png') }}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card style4">
                            <div class="service-card-icon">
                                <img src="{{ asset('assetsFront/img/icon/service-icon4-2.svg') }}" alt="Icon">
                            </div>
                            <h3 class="box-title"><a href="">Gestion de Propriété</a></h3>
                            <p class="box-text">Toutes les zones de vie, de salle à manger, de cuisine et de jeux ont été conçues et attachées à la maison.</p>
                            <div class="service-img img-shine">
                                <img src="{{ asset('assetsFront/img/service/1-2.png') }}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-card style4">
                            <div class="service-card-icon">
                                <img src="{{ asset('assetsFront/img/icon/service-icon4-1.svg') }}" alt="Icon">
                            </div>
                            <h3 class="box-title"><a href="">Opportunités d'Investissement</a></h3>
                            <p class="box-text">Des services immobiliers tout compris pour faciliter la gestion de vos propriétés.</p>
                            <div class="service-img img-shine">
                                <img src="{{ asset('assetsFront/img/service/1-3.png') }}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
Testimonial Area  
==============================-->
    <section class="overflow-hidden space">
    <div class="sec-bg-shape2-1 spin shape-mockup d-xxl-block d-none" data-bottom="8%" data-left="8%">
        <img src="{{ asset('assetsFront/img/shape/section_shape_2_1.jpg') }}" alt="img">
    </div>
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-xxl-6 col-lg-7">
                <div class="title-area text-lg-start text-center">
                    <h2 class="sec-title text-theme">Ce que disent nos clients</h2>
                    <p class="sec-text text-theme">HabiLux vous aide à créer facilement un site web de commerce immobilier. Avec la fonction d'enregistrement, de connexion, et la publication de nouvelles immobilières.</p>
                </div>
            </div>
            <div class="col-auto">
                <div class="sec-btn">
                    <div class="icon-box">
                        <button data-slider-prev="#testiSlider2" class="slider-arrow style5 default slider-prev"><img src="{{ asset('assetsFront/img/icon/arrow-left.svg') }}" alt=""></button>
                        <button data-slider-next="#testiSlider2" class="slider-arrow style5 default slider-next"><img src="{{ asset('assetsFront/img/icon/arrow-right.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="testi-wrap2">
            <div class="swiper th-slider testi-slider2" id="testiSlider2" data-slider-options='{"spaceBetween":"48","breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"1"},"1200":{"slidesPerView":"2"}}}'>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testi-grid-wrap2">
                            <div class="testi-grid-thumb">
                                <img src="{{ asset('assetsFront/img/testimonial/testi_thumb_2_1.png') }}" alt="img">
                            </div>
                            <div class="testi-card style2">
                                <div class="testi-grid_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">"La maison est l'endroit où l'amour réside, où les souvenirs sont créés et où les rêves sont nourris. J'ai trouvé mon sanctuaire dans cette belle propriété. Trouver la propriété parfaite qui résonne avec la vôtre."</p>
                                <div class="testi-card_profile">
                                    <div class="quote-icon">
                                        <img src="{{ asset('assetsFront/img/icon/qoute2.svg') }}" alt="icon">
                                    </div>
                                    <div class="avatar">
                                        <img src="{{ asset('assetsFront/img/testimonial/testi_2_1.png') }}" alt="avatar">
                                    </div>
                                    <div class="testi-card_profile-details">
                                        <h3 class="testi-card_name">Andrew Simon</h3>
                                        <span class="testi-card_desig">Expert en immobilier</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testi-grid-wrap2">
                            <div class="testi-grid-thumb">
                                <img src="{{ asset('assetsFront/img/testimonial/testi_thumb_2_2.png') }}" alt="img">
                            </div>
                            <div class="testi-card style2">
                                <div class="testi-grid_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">"La maison est l'endroit où l'amour réside, où les souvenirs sont créés et où les rêves sont nourris. J'ai trouvé mon sanctuaire dans cette belle propriété. Trouver la propriété parfaite qui résonne avec la vôtre."</p>
                                <div class="testi-card_profile">
                                    <div class="quote-icon">
                                        <img src="{{ asset('assetsFront/img/icon/qoute2.svg') }}" alt="icon">
                                    </div>
                                    <div class="avatar">
                                        <img src="{{ asset('assetsFront/img/testimonial/testi_2_2.png') }}" alt="avatar">
                                    </div>
                                    <div class="testi-card_profile-details">
                                        <h3 class="testi-card_name">Ralph Edwards</h3>
                                        <span class="testi-card_desig">Expert en immobilier</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testi-grid-wrap2">
                            <div class="testi-grid-thumb">
                                <img src="{{ asset('assetsFront/img/testimonial/testi_thumb_2_1.png') }}" alt="img">
                            </div>
                            <div class="testi-card style2">
                                <div class="testi-grid_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">"La maison est l'endroit où l'amour réside, où les souvenirs sont créés et où les rêves sont nourris. J'ai trouvé mon sanctuaire dans cette belle propriété. Trouver la propriété parfaite qui résonne avec la vôtre."</p>
                                <div class="testi-card_profile">
                                    <div class="quote-icon">
                                        <img src="{{ asset('assetsFront/img/icon/qoute2.svg') }}" alt="icon">
                                    </div>
                                    <div class="avatar">
                                        <img src="{{ asset('assetsFront/img/testimonial/testi_2_1.png') }}" alt="avatar">
                                    </div>
                                    <div class="testi-card_profile-details">
                                        <h3 class="testi-card_name">Andrew Simon</h3>
                                        <span class="testi-card_desig">Expert en immobilier</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testi-grid-wrap2">
                            <div class="testi-grid-thumb">
                                <img src="{{ asset('assetsFront/img/testimonial/testi_thumb_2_2.png') }}" alt="img">
                            </div>
                            <div class="testi-card style2">
                                <div class="testi-grid_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">"La maison est l'endroit où l'amour réside, où les souvenirs sont créés et où les rêves sont nourris. J'ai trouvé mon sanctuaire dans cette belle propriété. Trouver la propriété parfaite qui résonne avec la vôtre."</p>
                                <div class="testi-card_profile">
                                    <div class="quote-icon">
                                        <img src="{{ asset('assetsFront/img/icon/qoute2.svg') }}" alt="icon">
                                    </div>
                                    <div class="avatar">
                                        <img src="{{ asset('assetsFront/img/testimonial/testi_2_2.png') }}" alt="avatar">
                                    </div>
                                    <div class="testi-card_profile-details">
                                        <h3 class="testi-card_name">Ralph Edwards</h3>
                                        <span class="testi-card_desig">Expert en immobilier</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


    <!--==============================
Team Area  
==============================-->
    <section class="space bg-theme">
        <div class="sec-bg-shape2-3 jump shape-mockup d-xxl-block d-none text-white" data-bottom="5%" data-right="8%">
            <img src="{{ asset('assetsFront/img/shape/section_shape_2_3.jpg') }}" alt="img">
        </div>
        <div class="container">
            <div class="row justify-content-lg-between align-items-center">
               <div class="col-lg-6">
                    <div class="title-area">
                        <h2 class="sec-title text-white">Rencontrez l'équipe </h2>
                        <p class="text-light">HabiLux vous aide à créer facilement un site web de trading immobilier. Avec les fonctionnalités d'Inscription, Connexion, et Publication des nouvelles immobilières.</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <a href="{{ path('app_front_team_team')}}" class="th-btn style-border th-btn-icon">Voir toute l'équipe</a>
                    </div>
                </div>

            </div>
            <div class="slider-area team-slider3">
                <div class="swiper th-slider" id="teamSlider3" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1400":{"slidesPerView":"3"}}}'>
                    <div class="swiper-wrapper">
                         {% for admin in admins %}
                            <div class="swiper-slide">
                                <div class="th-team team-card style3">
                                    <div class="img-wrap">
                                        <div class="team-img">
                                            <!-- Afficher la photo de profil dynamique -->
                                            <img src="{{ asset('uploads/photo_profil/' ~ admin.photoProfil) }}" alt="Team" style="width: 100%; height: 450px; object-fit: cover;">
                                        </div>
                                        <div class="th-social-wrap">
                                            <div class="th-social">
                                                <!-- Liens sociaux dynamiques -->
                                                <a target="_blank" href="{{ admin.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                                <a target="_blank" href="{{ admin.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                                                <a target="_blank" href="{{ admin.instagram }}"><i class="fab fa-instagram"></i></a>
                                            </div>
                                            <a class="icon-btn" href="{{ path('app_front_team_detail_team', { 'id': admin.id }) }}">
                                                <img src="{{ asset('assetsFront/img/icon/arrow-right.svg') }}" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="team-card-content">
                                        <div class="media-left">
                                            <!-- Nom dynamique -->
                                            <h3 class="box-title"><a href="team-details.html">{{ admin.nom }} {{ admin.prenom }}</a></h3>
                                            <span class="team-desig">{{ admin.poste is iterable ? admin.poste|join(', ') : admin.poste }}</span>
                                        </div>
                                        <!-- Lien téléphone dynamique -->
                                        <a class="icon-btn" href="tel:{{ admin.tel }}"><img src="{{ asset('assetsFront/img/icon/phone.svg') }}" alt="img"></a>
                                    </div>
                                        <!-- Champ caché pour stocker l'ID -->
                                        <input type="hidden" name="id" value="{{ admin.id }}">
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <button data-slider-prev="#teamSlider3" class="slider-arrow style6 slider-prev"><img src="{{ asset('assetsFront/img/icon/arrow-left.svg') }}" alt="icon"></button>
                <button data-slider-next="#teamSlider3" class="slider-arrow style6 slider-next"><img src="{{ asset('assetsFront/img/icon/arrow-right.svg') }}" alt="icon"></button>
            </div>
        </div>
    </section>


    <!--==============================
Client Area  
==============================-->
    <div class="client-area-1 space" data-bg-src="{{ asset('assetsFront/img/hero/hero_bg_4_1.jpg') }}">
        <div class="container">
            <div class="slider-area client-slider3">
                <div class="swiper th-slider has-shadow" id="clientSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"3"},"768":{"slidesPerView":"4"},"992":{"slidesPerView":"5"},"1200":{"slidesPerView":"6"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_1.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_2.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_3.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_4.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_5.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_6.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_1.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_2.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_3.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_4.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_5.svg') }}" alt="Image">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="client-card">
                                <img src="{{ asset('assetsFront/img/brand/brand_3_6.svg') }}" alt="Image">
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
