{% extends 'baseFront.html.twig' %}

{% block title %}HabiLux-Boutique{% endblock %}

{% block body %}
 <div class="breadcumb-wrapper " data-bg-src="{{ asset('assetsFront/img/bg/breadcumb-bg.jpg') }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Shop</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Product Area
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="th-sort-bar">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md">
                        <p class="woocommerce-result-count">Showing 1–12 of 16 results</p>
                    </div>

                    <div class="col-md-auto">
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby" aria-label="Shop order">
                                <option value="menu_order" selected="selected">Default Sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by latest</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row gy-30">

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_1.png') }}" alt="Product Image">
                            <span class="product-tag">Hot</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">French Velvet Sofa</a></h3>
                            <span class="price">$177.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_2.png') }}" alt="Product Image">
                            <span class="product-tag">New</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Ceramic Vase</a></h3>
                            <span class="price">$39.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_3.png') }}" alt="Product Image">
                            <span class="product-tag">Hot</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Vintage Ceramic Vase</a></h3>
                            <span class="price">$96.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_4.png') }}" alt="Product Image">
                            <span class="product-tag">Sale</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Sofa with Cabriole Leg</a></h3>
                            <span class="price">$08.85<del>$06.99</del></span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_5.png') }}" alt="Product Image">
                            <span class="product-tag">New</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Chesterfield Sofa</a></h3>
                            <span class="price">$32.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_6.png') }}" alt="Product Image">
                            <span class="product-tag">Hot</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Serpentine Sofa</a></h3>
                            <span class="price">$30.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_7.png') }}" alt="Product Image">
                            <span class="product-tag">New</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Laris Settee</a></h3>
                            <span class="price">$232.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_8.png') }}" alt="Product Image">
                            <span class="product-tag">Hot</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Murphy Bed</a></h3>
                            <span class="price">$30.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_9.png') }}" alt="Product Image">
                            <span class="product-tag">New</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Beige Vase</a></h3>
                            <span class="price">$32.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_10.png') }}" alt="Product Image">
                            <span class="product-tag">Hot</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Interior Vase</a></h3>
                            <span class="price">$30.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_11.png') }}" alt="Product Image">
                            <span class="product-tag">New</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Table Lamp</a></h3>
                            <span class="price">$232.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-product product-grid">
                        <div class="product-img">
                            <img src="{{ asset('assetsFront/img/product/product_1_12.png') }}" alt="Product Image">
                            <span class="product-tag">Hot</span>
                            <div class="actions">
                                <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                <a href="cart.html" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                                <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <!-- <a href="shop-details.html" class="product-category"><br />
<b>Warning</b>:  Undefined variable $cat in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
<br />
<b>Warning</b>:  Trying to access array offset on value of type null in <b>A:\Angfuz_soft\HTML\Realer\realar-html\build\inc\sections\product-grid.php</b> on line <b>88</b><br />
</a> -->
                            <h3 class="product-title"><a href="shop-details.html">Interior Sofaset</a></h3>
                            <span class="price">$30.85</span>
                            <div class="woocommerce-product-rating">
                                <span class="count">(120 Reviews)</span>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="th-pagination text-center pt-50">
                <ul>
                    <!-- <li><a class="prev-page" href="blog.html"><i class="far fa-arrow-left me-2"></i>Previous</a></li> -->
                    <li><a class="active" href="blog.html">1</a></li>
                    <li><a href="blog.html">2</a></li>
                    <li><a href="blog.html">3</a></li>
                    <li><a class="next-page" href="blog.html">Next<i class="far fa-arrow-right ms-2"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
