{% extends 'baseFront.html.twig' %}

{% block title %}HabiLux-Tarifs{% endblock %}

{% block body %}
<!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="{{ asset('assetsFront/img/bg/breadcumb-bg.jpg') }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Affordable Pricing</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li>Pricing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Price Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="row gy-4 justify-content-center">

                <div class="col-lg-4 col-md-6">
                    <div class="price-card ">
                        <div class="offer-tag">Most Popular</div>
                        <div class="price-card-icon">
                            <img src="{{ asset('assetsFront/img/icon/pricing-icon1-1.svg') }}" alt="img">
                        </div>
                        <h3 class="price-card-title">Basic Plan</h3>
                        <h4 class="price-card_price">$15900.00<span class="duration">/ Month</span></h4>
                        <p class="price-card_text">Automatically connect with prospective clients</p>
                        <div class="price-card_content">
                            <a href="#" class="th-btn style-border2 w-100">Get Started</a>
                            <div class="checklist">
                                <ul>
                                    <li><i class="fal fa-circle-check"></i> Free Listing</li>
                                    <li><i class="fal fa-circle-check"></i> 15 Featured Listing</li>
                                    <li><i class="fal fa-circle-check"></i> Contact with agent</li>
                                    <li><i class="fal fa-circle-check"></i> 2 Year validity</li>
                                    <li><i class="fal fa-circle-check"></i> 24/7 Support center</li>
                                    <li><i class="fal fa-circle-check"></i> 100% money back guarantee</li>
                                    <li><i class="fal fa-circle-check"></i> Auto refresh ads</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="price-card active">
                        <div class="offer-tag">Most Popular</div>
                        <div class="price-card-icon">
                            <img src="{{ asset('assetsFront/img/icon/pricing-icon1-2.svg') }}" alt="img">
                        </div>
                        <h3 class="price-card-title">Advanced Plan</h3>
                        <h4 class="price-card_price">$25000.00<span class="duration">/ Month</span></h4>
                        <p class="price-card_text">Automatically connect with prospective clients</p>
                        <div class="price-card_content">
                            <a href="#" class="th-btn style-border2 w-100">Get Started</a>
                            <div class="checklist">
                                <ul>
                                    <li><i class="fal fa-circle-check"></i> Free Listing</li>
                                    <li><i class="fal fa-circle-check"></i> 15 Featured Listing</li>
                                    <li><i class="fal fa-circle-check"></i> Contact with agent</li>
                                    <li><i class="fal fa-circle-check"></i> 2 Year validity</li>
                                    <li><i class="fal fa-circle-check"></i> 24/7 Support center</li>
                                    <li><i class="fal fa-circle-check"></i> 100% money back guarantee</li>
                                    <li><i class="fal fa-circle-check"></i> Auto refresh ads</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="price-card ">
                        <div class="offer-tag">Most Popular</div>
                        <div class="price-card-icon">
                            <img src="{{ asset('assetsFront/img/icon/pricing-icon1-3.svg') }}" alt="img">
                        </div>
                        <h3 class="price-card-title">Premium Plan</h3>
                        <h4 class="price-card_price">$35000.00<span class="duration">/ Month</span></h4>
                        <p class="price-card_text">Automatically connect with prospective clients</p>
                        <div class="price-card_content">
                            <a href="#" class="th-btn style-border2 w-100">Get Started</a>
                            <div class="checklist">
                                <ul>
                                    <li><i class="fal fa-circle-check"></i> Free Listing</li>
                                    <li><i class="fal fa-circle-check"></i> 15 Featured Listing</li>
                                    <li><i class="fal fa-circle-check"></i> Contact with agent</li>
                                    <li><i class="fal fa-circle-check"></i> 2 Year validity</li>
                                    <li><i class="fal fa-circle-check"></i> 24/7 Support center</li>
                                    <li><i class="fal fa-circle-check"></i> 100% money back guarantee</li>
                                    <li><i class="fal fa-circle-check"></i> Auto refresh ads</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--==============================
Subscribe Area   
==============================-->
    <div class=" subscribe-area-2 z-index-common" data-bg-src="{{ asset('assetsFront/img/bg/subscribe-bg-2-1.png') }}" data-overlay="theme" data-opacity="7">
        <div class="container">
            <div class="row gx-35 justify-content-center">
                <div class="col-xxl-10">
                    <div class="title-area text-center">
                        <h2 class="sec-title text-white">Newsletter to get updated the latest news</h2>
                    </div>
                    <form action="#" class="subscribe-form style2">
                        <div class="form-group style-border3 style-radius">
                            <input type="text" class="form-control" placeholder="Enter Email">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <button class="th-btn">Subscribe Now <span class="btn-icon"><img src="{{ asset('assetsFront/img/icon/paper-plane.svg') }}" alt="img"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!--==============================
Faq Area
==============================-->
    <div class="space overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="title-area text-center">
                        <span class="sub-title">FAQ</span>
                        <h2 class="sec-title text-theme">Frequently Asked Questions</h2>
                        <p class="sec-text text-theme">Have questions you want answers to?</p>
                    </div>
                    <div class="accordion" id="faqAccordion">


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">1. How do I start the process of buying a home?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The open-concept layout seamlessly connects the living room with the fully equipped kitchen, boasting top-of-the-line appliances and all the essentials for preparing delicious meals.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">2. What factors should I consider when choosing a neighborhood?</button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The open-concept layout seamlessly connects the living room with the fully equipped kitchen, boasting top-of-the-line appliances and all the essentials for preparing delicious meals.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">3. How can I determine the right price for selling my property?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The open-concept layout seamlessly connects the living room with the fully equipped kitchen, boasting top-of-the-line appliances and all the essentials for preparing delicious meals.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">4. What are closing costs and who is responsible for paying them?</button>
                            </div>
                            <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The open-concept layout seamlessly connects the living room with the fully equipped kitchen, boasting top-of-the-line appliances and all the essentials for preparing delicious meals.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">5. How can I negotiate the best price when buying a property?</button>
                            </div>
                            <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="collapse-item-5" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The open-concept layout seamlessly connects the living room with the fully equipped kitchen, boasting top-of-the-line appliances and all the essentials for preparing delicious meals.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap justify-content-center mt-60">
                        <a href="about.html" class="th-btn style-border2 th-btn-icon">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


