<!doctype html>
<html lang="en">


<!-- Mirrored from unicoderbd.com/template/uniland/fullwidth/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Dec 2024 10:59:20 GMT -->
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>{% block title %} {% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('assetsDashboard/images/iconH.png') }}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- Required style of the theme -->
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/webfonts/flaticon/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/layerslider.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/template.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/colors/color.css') }}">
    <link rel="stylesheet" href="{{ asset('assetsDashboard/css/loader.css') }}">
</head>

<body>

<style>
.navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-logo {
    max-height: 60px; /* Ajuste selon la taille souhaitée */
}

</style>

    <div class="preloader">
		<div class="loader xy-center"></div>
	</div>

    <div id="page_wrapper" class="bg-light">
        <header class="header-style nav-on-top bg-white">
            <div class="main-nav" style="height: 80px;">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center"> <!-- Centre le contenu -->
                                <a class="navbar-brand" href="{{ path('app_front_accueil_accueil')}}">
                                    <img class="nav-logo" src="{{ asset('assetsFront/img/logohomeblack.png') }}" alt="Image not found !" style="margin-top: 15px;">
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!--============== Styled Login Form ==============-->
        <div class="full-row">


            {% block body %}


            {% endblock %}
        </div>

    
    </div>

    <!-- Javascript Files -->
    <script src="{{ asset('assetsDashboard/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/popper.min.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/owl.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/range/tmpl.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/range/jquery.dependClass.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/range/draggable.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/range/jquery.slider.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/wow.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/mixitup.min.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/paraxify.js') }}"></script>
    <script src="{{ asset('assetsDashboard/js/custom.js') }}"></script>

</body>


<!-- Mirrored from unicoderbd.com/template/uniland/fullwidth/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Dec 2024 10:59:20 GMT -->
</html>


