<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">


<!-- Mirrored from html.themeholy.com/realar/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Dec 2024 14:28:57 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Bienvenue {% endblock %}</title>
    <meta name="author" content="Realar">
    <meta name="description" content="Realar - Real Estate Apartment Complex HTML Template">
    <meta name="keywords" content="Realar - Real Estate Apartment Complex HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assetsFront/img/favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assetsFront/img/favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assetsFront/img/favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assetsFront/img/favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assetsFront/img/favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assetsFront/img/favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assetsFront/img/favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assetsFront/img/favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assetsFront/img/favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assetsFront/img/favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assetsFront/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assetsFront/img/favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assetsFront/img/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assetsFront/img/favicons/manifest.js') }}on') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assetsFront/img/favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;family=Outfit:wght@100..900&amp;display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('assetsFront/css/bootstrap.min.css') }}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{{ asset('assetsFront/css/fontawesome.min.css') }}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ asset('assetsFront/css/magnific-popup.min.css') }}">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="{{ asset('assetsFront/css/swiper-bundle.min.css') }}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('assetsFront/css/style.css') }}">



    {% block stylesheet %}
    {% endblock %}

</head>

<style>
.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 150px;
    text-align: left;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

</style>

<body class="bg-smoke">

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->
  

    <!-- slider drag cursor -->
    <div class="slider-drag-cursor"><i class="fas fa-angle-left me-2"></i> Glisser <i class="fas fa-angle-right ms-2"></i></div>

    <!--==============================
     Preloader
  ==============================-->
    <div id="preloader" class="preloader ">
        
        <div id="loader" class="th-preloader">
            <div class="animation-preloader">
                <div class="txt-loading">
                    <span preloader-text="H" class="characters">H</span>

                    <span preloader-text="A" class="characters">A</span>

                    <span preloader-text="B" class="characters">B</span>

                    <span preloader-text="I" class="characters">I</span>

                    <span preloader-text="L" class="characters">L</span>

                    <span preloader-text="U" class="characters">U</span>

                    <span preloader-text="X" class="characters">X</span>
                </div>

                <div class="txt-loading">
                    <span preloader-text="B" class="characters">B</span>

                    <span preloader-text="i" class="characters">i</span>

                    <span preloader-text="K" class="characters">K</span>

                    <span preloader-text="s" class="characters">s</span>

                    <span preloader-text="o" class="characters">o</span>

                </div>
            </div>
        </div>
    </div> <!--==============================
    Sidemenu
============================== -->
    <div class="sidemenu-wrapper sidemenu-info d-none d-lg-block ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="index.html"><img src="{{ asset('assetsFront/img/logo.svg') }}" alt="Realar"></a>
                    </div>
                    <p class="about-text"> Créez rapidement un modèle de capital intellectuel multiplateforme. Développez de manière appropriée des infrastructures interactives.</p>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Nous Contacter</h3>
                <div class="th-widget-contact">
                    <div class="info-box_text">
                        <div class="icon"><img src="{{ asset('assetsFront/img/icon/location-dot.svg') }}" alt="img"></div>
                        <div class="details">
                            <p>Hammamet, Tn</p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon">
                            <img src="{{ asset('assetsFront/img/icon/phone.svg') }}" alt="img">
                        </div>
                        <div class="details">
                            <p><a href="tel:+21693313278" class="info-box_link">+216 93 313 278</a></p>
                            <p><a href="tel:+21690388911" class="info-box_link">+216 90 388 911</a></p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon">
                            <img src="{{ asset('assetsFront/img/icon/envelope.svg') }}" alt="img">
                        </div>
                        <div class="details">
                            <p><a href="mailto:mailinfo@Habilux.com" class="info-box_link">mailinfo@Habilux.com</a></p>
                            <p><a href="mailto:support@Habilux.com" class="info-box_link">support@Habilux.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget newsletter-widget">
                <h3 class="widget_title">Abonnez-vous Maintenant</h3>
                <form class="newsletter-form">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Adresse Email" required="">
                        <button type="submit" class="th-btn"><i class="far fa-paper-plane text-theme"></i></button>
                    </div>
                </form>
                <div class="th-social style2">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.behance.com/"><i class="fab fa-behance"></i></a>
                    <a href="https://www.vimeo.com/"><i class="fab fa-vimeo-v"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="Que recherchez-vous ?">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
<!--==============================
    Mobile Menu
  ============================== -->
   <div class="th-menu-wrapper onepage-nav">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html">
                    <img src="{{ asset('assetsFront/img/logo-white.svg') }}" alt="Realar">
                </a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li>
                        <a href="{{ path('app_front') }}">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_propos') }}">
                            À Propos de Nous
                        </a>
                    </li>


                    
                    <li class="menu-item-has-children">
                        <a href="#">
                            Propriétés
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">
                                    Habitation
                                </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Villa
                                            </a>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Appartement
                                            </a>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Duplex
                                            </a>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Terrain
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{{ path('app_details_proprietes') }}">
                                    Commercial
                                </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Bureau
                                            </a>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Depot
                                            </a>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Terrain
                                            </a>
                                            <a href="{{ path('app_Proprietes') }}">
                                                Usine
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                        </ul>
                    </li>



                    <li class="menu-item-has-children">
                        <a href="{{ path('app_agents') }}">
                            Agents
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{{ path('app_agents') }}">
                                    Agents
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_details_agent') }}">
                                    Détails de l'Agent
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#">
                            Boutique
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children"><a href="#">
                                    Meubles
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ path('app_boutique') }}">
                                            Meubles
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_boutique_details') }}">
                                            Détails de meubles
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_panier') }}">
                                            Panier
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_checkout') }}">
                                            Paiement
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_wishlist') }}">
                                            Liste de Souhaits
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="{{ path('app_erreur') }}">
                                    Page d'Erreur
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_tarifs') }}">
                                    Page de Tarification
                                </a>
                            </li>
                        </ul>
                    </li>
                   
                    <li>
                        <a href="{{ path('app_contact') }}">
                            Nous Contacter
                        </a>
                    </li>

                    <li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_back_dashboard') }}">Dashboard</a>
                    {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </div>
<!--==============================
	Header Area
==============================-->
    <header class="th-header header-layout3">
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <button type="button" class="simple-icon sideMenuInfo sidebar-btn style3">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="{{ asset('assetsFront/img/logo-white2.svg') }}" alt="Realar">
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li>
                                        <a href="{{ path('app_front') }}">
                                            Accueil
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_propos') }}">
                                            À Propos de Nous
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            Propriétés
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">
                                                    Habitation
                                                </a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Villa
                                                            </a>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Appartement
                                                            </a>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Duplex
                                                            </a>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Terrain
                                                            </a>
                                                        </li>
                                                    </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="{{ path('app_details_proprietes') }}">
                                                    Commercial
                                                </a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Bureau
                                                            </a>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Depot
                                                            </a>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Terrain
                                                            </a>
                                                            <a href="{{ path('app_Proprietes') }}">
                                                                Usine
                                                            </a>
                                                        </li>
                                                    </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="{{ path('app_agents') }}">
                                            Agents
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('app_agents') }}">
                                                    Agents
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_details_agent') }}">
                                                    Détails de l'Agent
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            Boutique
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children"><a href="#">
                                                    Meubles
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="{{ path('app_boutique') }}">
                                                            Meubles
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_boutique_details') }}">
                                                            Détails de meubles
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_panier') }}">
                                                            Panier
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_checkout') }}">
                                                            Paiement
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_wishlist') }}">
                                                            Liste de Souhaits
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="{{ path('app_erreur') }}">
                                                    Page d'Erreur
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('app_tarifs') }}">
                                                    Page de Tarification
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                
                                    <li>
                                        <a href="{{ path('app_contact') }}">
                                            Nous Contacter
                                        </a>
                                    </li>

                                    <li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_back_dashboard') }}">Dashboard</a>
                                    {% endif %}
                                    </li>

                                </ul>
                            </nav>
                            <div class="header-button d-flex d-lg-none">
                                <button type="button" class="th-menu-toggle sidebar-btn">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button">
                                {% if app.user %}
                                    <div class="dropdown">
                                        <img src="{{ asset('uploads/photo_profil/' ~ app.user.photoProfil) }}" alt="Profile Picture" class="profile-picture dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                            <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Voir le profil</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="th-btn style-border th-btn-icon">
                                        <i class="fas fa-sign-in-alt"></i> Connexion
                                    </a>
                                {% endif %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </header>


{% block body %}


{% endblock %}
    <!--==============================

	Footer Area
==============================-->
      <footer class="footer-wrapper footer-default bg-theme">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="index.html"><img src="{{ asset('assetsFront/img/logo-white2.svg') }}" alt="Realar"></a>
                                </div>
                                <p class="about-text">Votre partenaire de confiance pour trouver le bien immobilier idéal. Que vous cherchiez à acheter, louer ou vendre, notre agence met à votre disposition un service personnalisé pour réaliser vos projets en toute sérénité.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Contactez-nous</h3>
                            <div class="th-widget-contact">
                                <div class="info-box_text">
                                    <div class="icon"><img src="{{ asset('assetsFront/img/icon/location-dot.svg') }}" alt="img"></div>
                                    <div class="details">
                  
                                        <p>Hammamet, Tunis</p>
                                    </div>
                                </div>
                                <div class="info-box_text">
                                    <div class="icon">
                                        <img src="{{ asset('assetsFront/img/icon/phone.svg') }}" alt="img">
                                    </div>
                                    <div class="details">
                                        <p><a href="tel:+21693313278" class="info-box_link">+216 93 313 278</a></p>
                                        <p><a href="tel:+21690388911" class="info-box_link">+216 90 388 911</a></p>
                                    </div>
                                </div>
                                <div class="info-box_text">
                                    <div class="icon">
                                        <img src="{{ asset('assetsFront/img/icon/envelope.svg') }}" alt="img">
                                    </div>
                                    <div class="details">
                                        <p><a href="mailto:mailinfo@Habilux.com" class="info-box_link">mailinfo@Habilux.com</a></p>
                                        <p><a href="mailto:support@Habilux.com" class="info-box_link">support@Habilux.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Navigations</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="{{ path('app_propos') }}">À propos de nous</a></li>
                                    <li><a href="{{ path('app_Proprietes') }}">Propriétés</a></li>
                                    <li><a href="{{ path('app_agents') }}">Nos agents</a></li>
                                    <li><a href="{{ path('app_contact') }}">Demander une visite</a></li>
                                    <li><a href="{{ path('app_boutique') }}">Boutique</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-light">
            <div class="container">
                <div class="row gy-3 align-items-center">
                    <div class="col-lg-6">
                        <p class="copyright-text">
                            Copyright <i class="fal fa-copyright"></i> 2024 <a href="index.html">Habilux / BiKso</a>, Tous droits réservés.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="th-social justify-content-lg-end justify-content-center">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="{{ asset('assetsFront/js/vendor/jquery-3.7.1.min.js') }}"></script>

    <!-- Swiper Js -->
    <script src="{{ asset('assetsFront/js/swiper-bundle.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assetsFront/js/bootstrap.min.js') }}"></script>
    <!-- Magnific Popup -->
    <script src="{{ asset('assetsFront/js/jquery.magnific-popup.min.js') }}"></script>
    <!-- Counter Up -->
    <script src="{{ asset('assetsFront/js/jquery.counterup.min.js') }}"></script>
    <!-- Range Slider -->
    <script src="{{ asset('assetsFront/js/jquery-ui.min.js') }}"></script>
    <!-- Isotope Filter -->
    <script src="{{ asset('assetsFront/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assetsFront/js/isotope.pkgd.min.js') }}"></script>
    <!-- Gsap -->
    <script src="{{ asset('assetsFront/js/gsap.min.js') }}"></script>



    <!-- Main Js File -->
    <script src="{{ asset('assetsFront/js/main.js') }}"></script>
</body>


<!-- Mirrored from html.themeholy.com/realar/demo/home-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Dec 2024 14:30:12 GMT -->
</html>