{% extends 'baseFront.html.twig' %}

{% block title %}HabiLux-Agent{% endblock %}



{% block body %}
 <div class="breadcumb-wrapper " data-bg-src="{{ asset('assetsFront/img/bg/breadcumb-bg.jpg') }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Détails de l'agent</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="{{ path('app_front_accueil_accueil')}}">Accueil</a></li>
                            <li>Détails de l'agent</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Team Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="row gx-40 gy-40">
                <div class="col-xl-4 col-lg-5 col-md-8">
                    <div class="th-team team-card style4">
                        <div class="img-wrap">
                            <div class="team-img">
                                <img src="{{ asset('uploads/photo_profil/' ~ agent.photoProfil) }}" alt="Team">
                            </div>
                            <div class="th-social-wrap">
                                <div class="th-social">
                                    <a target="_blank" href="{{ agent.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="{{ agent.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                                    <a target="_blank" href="{{ agent.instagram }}"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-card-content">
                            <div class="media-left">
                                <h3 class="box-title" style="color:white;">{{ agent.nom }} {{ agent.prenom }}</h3>
                                <span class="team-desig">{{ agent.poste is iterable ? agent.poste|join(', ') : agent.poste }}</span>
                            </div>
                            <a class="icon-btn" href="tel:{{ agent.tel }}">
                                <img src="{{ asset('assetsFront/img/icon/phone.svg') }}" alt="img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="about-card">
                        <h2 class="about-card_title text-theme mb-45">
                            Agent {{ agent.nom }} {{ agent.prenom }}
                        </h2>
                        <div class="row gy-3">
                            <div class="col-md-6">
                                <ul class="team-about-list">
                                    <li><strong>Poste :</strong>{{ agent.poste is iterable ? agent.poste|join(', ') : agent.poste }}</li>
                                    <li><strong>Expérience :</strong> {{ agent.experience }}</li>
                                    <li><strong>Email :</strong> {{ agent.email }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="team-about-list"> 
                                    <li><strong>Localisation :</strong> {{ agent.localisation }}</li>   
                                    <li><strong>Adresse :</strong> {{ agent.adresse }}</li>
                                    <li><strong>Téléphone :</strong> {{ agent.tel }}</li>
                                    <li><strong>Membre depuis :</strong> {{ agent.creeEn|date('Y-m-d') }}</li>
                                </ul>
                            </div>
                        </div>
                        <h2 class="about-card_title text-theme mb-45">
                            Profil
                        </h2>
                        <p class="sec-text text-theme mt-30">
                            {{ agent.description }}
                        </p>
                    
                    </div>
                </div>

            </div>
        </div>

    </section>


    
{% endblock %}


